__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.venv/
venv/
dist/
build/
unraid_plugin/dist/
unraid_plugin/build/
*.txz
*.plg
*.egg-info/
*.log
config.json
esp_host_bridge/config.json
esp_host_bridge/.esp_host_bridge_mdi_codepoints.json
